@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
h1 {
  font-family: "Funnel Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}